{{extend 'plugin_phantermobileconstructor/layout_phantermobile.html'}}
{{block head}}
<style type="text/css">
    .cabecalho{
    	display: none;
    }
    #nav_caminho{
    	display: none;
    }
    .main_conex.responsivo-phone{

        padding: 0;
        margin: 0;
        border-radius: 0;
    }
    .main_conex.responsivo-phonelg{
    	padding: 15px 10px;
    }

    .main_conex.responsivo-tablet {
        padding: 15px 10px;
    }
    .main_conex.responsivo {
        background-image: url("{{=URL('static','plugin_phantermobileconstructor', args=['images','background.jpg'])}}");
    }
    .mobile.responsivo {

background-image: url("{{=URL('static','plugin_phantermobileconstructor', args=['images','celular2.png'])}}");
background-color: transparent;
background-size: 300px auto;
background-position-x: 2px;
background-position-y: 0px;
background-repeat: no-repeat;
    padding: 0px 15px;
height: 587px;
margin-right: auto;
margin-left: auto;
overflow: hidden;
border-radius: 25px;
width: 300px;
}
.caixa_botao_ajax_principal {
    float: left;
    width: 30%;
    height: 100px;
    margin-left: 3%;
    margin-top: 20px;
    display:table;
}
.botao_pagina_principal_comandos {
    display: table-row;
}
.center_table_cell {
    display: table-cell;
    vertical-align: middle;
    background-color: #3e2929;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    font-family: OldSansBlack;
    color: white;
    border-radius: 5px 5px 0 0;
}
.status_botao_principal > span, .status_botao_principal > i {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.status_botao_principal > i{
    font-size: 20pt;
}
.status_botao_principal {
    display: table-row;
    vertical-align: middle;
    background-color: #804141;
}
.status_botao_principal {
    display: table-row;
    vertical-align: middle;
}
.status_botao_principal{
    display: table-row;
}
.caixa_comandos {
    padding: 10px 10px 30px 10px;
    display: table;
    background-color: white;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 7px black inset;
}
.html_mobile.responsivo {
    background-color: #edf5bd;
    width: 271px;
    height: 449px;
    margin-left: 0;
    margin-right: auto;
    margin-top: 91px;
    border-radius: 2px;
    overflow: hidden;
}

    .iframe_mobile.responsivo {
        width: 397px;
        overflow: hidden;
        height: 672px;
        border: none;
        zoom: 0.9;
        -moz-transform: scale(0.9,0.9);
        -moz-transform-origin: left top;
    }
    .iframe_mobile.responsivo {
        width: 339px;
        overflow: hidden;
        height: 561px;
        border: none;
        zoom: 0.8;
        -moz-transform: scale(0.8,0.8);
        -moz-transform-origin: left top;
    }
    /*INICIO Media queries*/
      @media (min-width: 1px) and (max-width: 350px) {
        .painel_esquerdo_g {
            width: 100%;
        }
        .caixa_titulo_painel_direito_g > h1{
          font-size: 1em;
        }
      }
      @media (min-width: 350px) and (max-width: 450px) {
        .painel_esquerdo_g {
            width: 100%;
        }
        .caixa_titulo_painel_direito_g > h1{
          font-size: 3em;
        }
      }
      @media (min-width: 450px) and (max-width: 600px) {
        .painel_esquerdo_g {
            width: 100%;
        }
        .caixa_titulo_painel_direito_g > h1{
          font-size: 3em;
        }
      }
      @media (min-width: 600px) and (max-width: 800px) {
        .painel_esquerdo_g {
            width: 100%;
            float: left;
        }        
        .caixa_titulo_painel_direito_g > h1{
          font-size: 3em;
        }
      }
      @media (min-width: 800px) and (max-width: 1024px) {
        .painel_esquerdo_g {
            width: 400px;
            position: absolute;
            left: 0px;
        }
        .caixa_titulo_painel_direito_g > h1{
          font-size: 4em;
        }
        .painel_direito_g {
          width: 100%;
        }
        .painel_principal_g{
            padding-left: 400px;
            min-height: 650px;
            display: block;
        }
      }
      @media (min-width: 1024px) {
        .painel_esquerdo_g {
            width: 400px;
            position: absolute;
            left: 0px;
        }
        .caixa_titulo_painel_direito_g > h1{
          font-size: 5em;
        }
        .painel_direito_g {
          width: 100%;
        }
        .painel_principal_g{
            padding-left: 400px;
            min-height: 650px;
            display: block;
        }
      }
    /*FIM Media queries*/
      .caixa_titulo_painel_direito_g>h1{
        transition: font-size 1s;
      }
      .painel_esquerdo_g{
        transition: width 1s;
      }
</style>
{{end}}
{{=html}}
<script type="text/javascript">
  $(document).ready(function(){
    ajax('{{=URL("plugin_phantermobileconstructor","echo_comand", args=["info"], vars={"cordovastatus":True})}}',[], ':eval')
    ajax('{{=URL("plugin_phantermobileconstructor","echo_comand", args=["info"], vars={"phonegapstatus":True})}}',[], ':eval')
    ajax('{{=URL("plugin_phantermobileconstructor", "echo_comand", args=["createapk"], vars={"getlastapk":True})}}',[], ':eval')
  });
</script>
