{{extend 'plugin_phantermobileconstructor/layout_phantermobile.html'}}
{{block head}}
{{end}}
{{=html}}
{{if not request.args(0):}}
	<script type="text/javascript">
	  $(document).ready(function(){
	    ajax('{{=URL("plugin_phantermobileconstructor", "echo_comand", args=["info"], vars={"cordovastatus":True})}}',[], ':eval')
	    ajax('{{=URL("plugin_phantermobileconstructor", "echo_comand", args=["info"], vars={"phonegapstatus":True})}}',[], ':eval')
	    ajax('{{=URL("plugin_phantermobileconstructor", "echo_comand", args=["createapk", "release"], vars={"getlastapk":True})}}',[], ':eval')
	    ajax('{{=URL("plugin_phantermobileconstructor", "echo_comand", args=["createapk", "debug"], vars={"getlastapk":True})}}',[], ':eval')
	  });
	</script>
{{pass}}
