<!DOCTYPE html>
  <head>
    <meta charset="utf-8">

    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <meta name="application-name" content="{{=request.application}}">
    <title>{{=request.application}}</title>
    <link rel="stylesheet" href="{{=URL('static','plugin_phantermobileconstructor/www/css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','plugin_phantermobileconstructor/www/css/web2py-bootstrap3.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','plugin_phantermobileconstructor/www/css/font-awesome.min.css')}}"/>
    <style type="text/css">
      {{include 'plugin_phantermobileconstructor/css_head_layout_www.css'}}
    </style>
    {{include 'plugin_phantermobileconstructor/www_web2py_ajax.html'}}
    <script src="{{=URL('static','plugin_phantermobileconstructor/www/js/jquery.js')}}" type="text/javascript"></script>
    <script src="{{=URL('static','plugin_phantermobileconstructor/www/js/web2py.js')}}" type="text/javascript"></script>
    <script src="{{=URL('static','plugin_phantermobileconstructor/www/js/phanterresponsivo.js')}}" type="text/javascript"></script>
    <script src="{{=URL('static','plugin_phantermobileconstructor/www/js/jquery.mobile-1.4.5.min.js')}}" type="text/javascript"></script>
    {{block head}}
    {{end head}}
  </head>
  <body>
  <header>
    {{block header}}
    {{end header}}  
  </header>
  <main>
  {{block main}}
{{end main}}
    {{include}}
  </main>
  <footer>
    {{block footer}}
    {{end footer}}
  </footer>
  {{if request.vars.phanterandroidbuild:}}
    <script type="text/javascript" src="cordova.js"></script>
  {{else:}}
    {{=response.barra_ferramentas if response.barra_ferramentas else ""}}
  {{pass}}
  {{block javascript}}
  {{end javascript}}
  </body>

</html>
